.owner{
    opacity: 70%;
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.product-title{
    font-size: 32px;
    margin-top: 4px;
    opacity: 75%;
}

.price{
    font-weight: bold;
    font-size: large;
}
