<div class="container">
  <div class="row" *ngFor="let product of products">
    <div class="col-sm-12 my-2"><mat-card>
      <span class="owner">
        posted by <a class="username" routerLink="/user-profile/{{product.userName}}">{{product.userName}}</a> {{product.duration}}
      </span>
      <mat-divider class="my-2" inset="true"></mat-divider>
      <span class="product-title">{{product.productName}}</span>
      <mat-divider class="my-2" inset="true"></mat-divider>
      <span class="price">{{product.price}} Ft</span>
      <mat-divider class="my-2" inset="true"></mat-divider>
      <span class="location">{{product.location}}</span>
      <mat-divider class="my-2" inset="true"></mat-divider>
      <span>
        <a class="btnCommments" role="button">
          <fa-icon [icon]="faComments"></fa-icon>
          Comments({{product.commentCount}})
        </a>
        <button mat-raised-button class="mx-2" color="primary" (click)="goToProduct(product.id)">
          Show Product
        </button>
      </span>
    </mat-card>
  </div>
</div>