<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form [formGroup]="updateForm" (ngSubmit)="update()">
            <mat-form-field appearance="outline" class="w-75">
                <mat-label>Email</mat-label>
                <input matInput type="email" [formControlName]="'email'" id="email_address" class="text-center" placeholder="example@email.eu" name="email-address" required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Email</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-75">
                <mat-label>First Name</mat-label>
                <input matInput type="text" [formControlName]="'firstname'" class="text-center" required autofocus placeholder="Type Your First Name">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Username</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-75">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" [formControlName]="'lastname'" class="text-center" required autofocus placeholder="Type Your Last Name">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-75">
                <mat-label>Phone number</mat-label>
                <input matInput type="number" [formControlName]="'phone'" class="text-center" required autofocus placeholder="+36123456">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <button type="submit" class="btn btn-success w-75">Update</button>
        </form>
    </div>
</div>