<div class="container" *ngIf="product">
  <div class="row my-2">
    <div class="col-sm-9"><mat-card>
      <span class="owner">posted by 
        <a *ngIf="product.userName === null" class="username" href="">Anonymous</a>
        <a *ngIf="product.userName != null" class="username" href="">{{product.userName}}</a> {{product.duration}}
      </span>
      <mat-divider class="my-2" inset="true"></mat-divider>
      <span class="product-title">{{product.productName}}</span>
      <mat-divider class="my-2" style="opacity: 0" inset="true"></mat-divider>
      <span class="product-description"><mat-icon>short_text</mat-icon>  {{product.description}}</span>
      <mat-divider class="my-2" inset="true"></mat-divider>
      
      <span class="price"><mat-icon>payment</mat-icon> {{product.price}} Ft</span>
      <mat-divider class="my-2" inset="true"></mat-divider>
      <span class="location"><mat-icon>location_on</mat-icon> {{product.location}}</span>
      <mat-divider class="my-2" inset="true"></mat-divider>
      <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-title style="width: 100px;" *ngFor="let file of images; let i = index;">
          <mat-card class="flex p-2" style="position: relative">
                  <div class="row">
                    <div class="col">                  
                      <img class="img-thumbnail rounded float-left" [src]="images[i].url"></div>
                      <div class="col"></div>
                      <div class="col"></div>
                      <div class="col"></div>
                  </div>
          </mat-card>
        </mat-grid-title>
      </mat-grid-list>
      <span>
        <div class="product-comment mb-3">
          <form [formGroup]="commentForm" (ngSubmit)="postComment()">
            <mat-form-field appearance="outline" class="w-100" style="margin-top: 5px">
              <mat-label>Drop a Comment</mat-label>
              <textarea matInput minlength="1" [formControlName]="'text'" placeholder="Describe Your Opinion">
              </textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Comment</button>
          </form>
        </div>
      </span>
      <mat-card class="mx-2" *ngFor="let comment of comments">
        <a routerLink="/user/comment.username">{{comment.userName}}</a>
        <mat-divider class="my-2" inset="true"></mat-divider>
        {{comment.text}}
      </mat-card>
    </mat-card>

  </div>
  <div class="col-sm-3">
    <app-side-bar></app-side-bar>
  </div>
</div>